{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{ project_name }}</title>
    <base href="{{ base_url }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">#}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            margin-top: 40px;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>

<body>

    <div class="container">
        {% block content %}{% endblock %}

        <hr>

        <footer>
            <p>Built by Erik Romijn, <a href="http://solidlinks.nl">Solid Links</a>.</p>
        </footer>
    </div>
</body>
</html>
